header {
  background-color: #031c2591;
  padding: 10px 20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}
header button,
input[type="button"] {
  background-color: var(--primary-color);
  padding: 5px 20px;
  border: none;
  color: var(--invert-color);
  font-weight: bold;
}
header a:hover {
  border-bottom: 1px #fff solid;
  padding-bottom: 5px;
}
header .container {
  display: flex;
  justify-content: space-between;
}

header .menu button {
  display: none;
}

@media (max-width: 600px) {
  header .container {
    position: relative;
  }
  header .menu .lista {
    position: absolute;
    top: 40px;
    right: 0;
    background: #0008;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    transition: all 1s cubic-bezier(.86 , 0 ,.23 , .98);
  }
  header a{
    border-bottom: 2px #fff solid;
  }

  header .menu .lista.oculto {
    transform: translateX(200%);
  }
  header .menu .lista span {
    display: none;
  }
  header .menu button {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background: #12bfdd3b;
    padding: 5px 8px;
    
    
  }
  header .menu button span {
    width: 15px;
    height: 3px;
    background: #fff;
    display: block;

  }
  
  header .container {
    align-items: center;
}

}
